<!--
  <h2>My Products</h2>
  <p class="text-gray">Here you manage the products you sell in your stores.</p>
-->

<div class="table-bg">
  <div class="button-layout">
    <lib-filters
      style="margin-right: auto"
      [filters]="filters"
      (filter)="setFilters($event)"
    >
    </lib-filters>

    <button
      class="btn btn-primary no-margin-r"
      *hasPermission="['CAN_CREATE_PRODUCT']"
      (click)="showDeletionModal()"
    >
      Delete Products
    </button>

    <button
      class="btn btn-primary no-margin-r"
      *hasPermission="['CAN_CREATE_PRODUCT']"
      (click)="toggleShowProductCreateOptionModal()"
    >
      New Product
    </button>
  </div>

  <div class="data-container" *ngIf="tableData$ | async as tableData">
    <div *ngIf="tableData.length">
      <!-- Table -->
      <div class="table-container-mod">
        <lib-dynamic-table
          [records]="tableData$ | async"
          [settings]="tableSettings"
          [buttons]="buttonSettings"
          [allowsSelection]="true"
          (outputList)="receiveCheckedList($event)"
        ></lib-dynamic-table>
      </div>

      <!-- Pagination -->
      <lib-pagination
        [ngClass]="{ block: (count$ | async), none: !(count$ | async) }"
        [totalElements]="count$ | async"
        [pageIndex]="paginationValues.pageIndex"
        [currentPage]="paginationValues.currentPage"
        [paginationType]="paginationValues.paginationType"
        (pageChange)="setPager($event)"
      ></lib-pagination>

      <!-- Download CSV -->
      <lib-download-csv (downloadCsv)="generateCsv()"></lib-download-csv>
    </div>

    <lib-no-table-data *ngIf="!tableData.length"></lib-no-table-data>
  </div>

  <lib-skeleton-table
    [numberOfColumns]="tableSettings.length"
    *ngIf="!(tableData$ | async)"
  ></lib-skeleton-table>
</div>

<lib-modal
  *ngIf="showProductCreateOptionModal"
  [modalType]="modalData.modalType"
  [header]="modalData.header"
  [subHeader]="modalData.subHeader"
  [buttonText]="modalData.buttonText"
  (cancel)="toggleShowProductCreateOptionModal()"
  (submit)="toggleShowProductCreateOptionModal()"
>
  <div class="option-container">
    <div class="option" routerLink="/products/create">
      <img
        src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__blue__single__product.svg"
        alt=""
      />
      <div class="option-description mb-3">
        <h6 class="heading__6 no-margin">Single Product</h6>
        <p class="no-margin text-gray text__sm">
          Use this if you want to create only one product.
        </p>
      </div>
    </div>
    <div class="option" (click)="showMultipleCreateModal()">
      <img
        src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__blue__multiple__products.svg"
        alt="sinlge"
      />
      <div class="option-description">
        <h6 class="heading__6 no-margin">Many Products</h6>
        <p class="no-margin text-gray text__sm">
          Use this to create many products. You would need to upload a .csv
        </p>
      </div>
    </div>
  </div>
</lib-modal>

<app-create-multiple-products
  *ngIf="showMultipleProductCreateModal"
  (closeModal)="showMultipleCreateModal()"
  (refreshData)="getProducts()"
>
</app-create-multiple-products>

<app-confirm-deletion
  *ngIf="showDeleteConfirmationModal"
  (closeModal)="showDeletionModal()"
  (refreshData)="getProducts()"
  [checkedItems]="checkedList"
  >
</app-confirm-deletion>
