<section class="features-container" id="about">
  <div class="features__header">
    <h3 class="features__header__title">Grow your business with ease</h3>
    <p class="features__header__text">
      A feature-reach platform that allows you handle your business like a boss.
    </p>
  </div>

  <div class="feature feature-management" style="margin-bottom: 130px">
    <img
      src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/images/image__payment.webp"
      alt="payment"
      class="payment-img"
    />
    <div>
      <article>
        <img
          src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__red__cube.svg"
          alt="users"
        />
        <h3>Inventory Management</h3>
        <p>
          Keep track of sales and product inventory, manage specific stores and
          inventory, whether you are online or offline.
        </p>
      </article>
      <article>
        <img
          src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__blue__users.svg"
          alt="users"
        />
        <h3>Customer Management</h3>
        <p>
          Understand your customers, monitor customer records & behaviour. Setup
          & manage loyalty programs and discount sales with ease.
        </p>
      </article>
      <a class="feature__action" routerLink="/onboarding">
        Get Started
        <svg>
          <use xlink:href="assets/icons/sprite.svg#arrow"></use>
        </svg>
      </a>
    </div>
  </div>

  <!-- <div class="feature feature-analytics">
    <div>
      <article>
        <img
          src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__green__card__with__bg.svg"
          alt="users" width="50px" height="50px"
        />
        <h3>Card & Cash Payments</h3>
        <p>
          We support and capture card & cash payments instantly to allow your
          customers flexibility. You can also print payment invoices or send
          E-receipts.
        </p>
      </article>
      <article>
        <img src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__green__stats.svg" alt="users" />
        <h3>Reports & Analysis</h3>
        <p>
          Intuitive reports on your business. Quickly view payment reports and
          sales analytics on the RexRetail terminal or on your mobile.
        </p>
      </article>
      <a class="feature__action" routerLink="/onboarding">
        Start Selling
        <svg>
          <use xlink:href="assets/icons/sprite.svg#arrow"></use>
        </svg>
      </a>
    </div>
    <img src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/images/image__happy__stats.png" alt="analytics" class="analytics-img" />
  </div> -->
</section>
