<section class="section-dashboard-bar-container">

  <div class="bar-chart">
    <div class="headers">
      <div class="title loading"></div>
      <div class="volume loading"></div>
    </div>

    <div class="chart-lines">
      6m
      <div class="horizontal-lines loading"></div>
      4m
      <div class="horizontal-lines loading"></div>
      2m
      <div class="horizontal-lines loading"></div>
      1m
      <div class="horizontal-lines loading"></div>
      500k
      <div class="horizontal-lines loading"></div>
      0
      <div class="horizontal-lines loading"></div>
    </div>
    <div class="week-days">
      <span class="day loading"></span><span class="day loading"></span
      ><span class="day loading"></span><span class="day loading"></span
      ><span class="day loading"></span>
    </div>
  </div>

</section>
