<section class="center-layout" *ngIf="merchant$|async as merchant">
  <div class="form-central">
    <div class="form-central__headings">
      <h4 class="heading__4">Pay In Advance</h4>

      <span class="text__default">
        Here you can make payment in advance for your subscription.
      </span>
    </div>
    <div class="form-central__content form-central__content-sm">
      <div class="form-central__form">
        <div class="text-center">
          <h2 class="no-margin">{{merchant?.name}}</h2>
          <div class="head__status">
            <p class="text-gray no-margin">Paid: {{merchant?.startDate|date}}</p>
            <div>
              <span class="text-gray">Status: </span>
              <span class="badge no-margin" [ngClass]="merchant.active ? 'badge--success' : 'badge--warn'">
                {{merchant?.active ? "Active" : "Inactive"}}
              </span>
            </div>
          </div>
        </div>

        <div class="rexpay-sub">
          <div class="rexpay-sub__dat">
            <p class="text-gray">Current Plan:</p>
            <p class="">{{merchant?.subscriptionPlan}}</p>
          </div>
          <div class="rexpay-sub__dat">
            <p class="text-gray">Renewal Date:</p>
            <p class="">{{merchant?.paymentCycle}}</p>
          </div>
          <hr>
          <div class="rexpay-sub__dat no-p">
            <p class="text-gray">Paying:</p>
            <p class="">NGN {{merchantData?.currentSubscriptionPlan.fee|number}}</p>
          </div>
          <div class="rexpay-sub__dat">
            <p class="text-gray">Next Repayment Date:</p>
            <p class="">{{merchant?.nextPaymentDate|date}}</p>
          </div>
          <div class="rexpay-sub__dat">
            <p class="text-gray">Billing Cycle:</p>
            <p class="">{{merchant?.paymentCycle}}</p>
          </div>
        </div>

        <lib-dynamic-form
          #payAdvanceFormRef
          [fieldset]="payAdvanceFormFields"
          [errors]="errors"
          (change)="change()"
        ></lib-dynamic-form>

      </div>
      <div class="form-central__content-actions">
        <button class="btn btn-white" routerLink="/pay/rexpay">Cancel</button>

        <div class="ml-auto">
          <app-initiate-payment
          *ngIf="invoiceGenerated"
          [invoiceReference]="pendingInvoice?.reference"
          [invoiceId]="pendingInvoice?.id"
        >
        </app-initiate-payment>

        <button *ngIf="!invoiceGenerated" class="btn btn-primary" (click)="payAdvance()">Pay in Advance</button>
        </div>
      </div>
    </div>
  </div>
</section>
