<section class="steps">
  <div class="steps--container">
    <div class="steps__header">
      <h3 class="steps__header__title">Get Started in 3 Easy Steps</h3>
    </div>

    <div class="steps__body">
      <div class="steps__body__info">
        <div class="with__line">
          <h4><b>1</b> Select Preferred Plan</h4>
          <p>
            To get started, simply select a payment plan that best suits your
            type of business.
          </p>
        </div>
        <div class="with__line">
          <h4><b>2</b> Personal & Business Details</h4>
          <p>
            Provide us with your personal and business details to help us
            understand your business better.
          </p>
        </div>
        <div>
          <h4><b>3</b> Setup Your Business & Start Selling</h4>
          <p>Setup your inventory, pricing model and start making sales!</p>
        </div>

        <a class="steps__body__action" routerLink="/onboarding">
          Get Started
          <svg>
            <use xlink:href="assets/icons/sprite.svg#arrow"></use>
          </svg>
        </a>
      </div>

      <div class="steps__body__img">
        <img
          data-src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/images/image__woman__on__steps.webp"
          class="lazyload"
          alt="woman_on_steps"
        />
      </div>
    </div>
  </div>
</section>
