<lib-loader></lib-loader>
<section class="section-center-create">
  <div class="form-central">
    <div class="form-central__headings">
      <h4 class="heading__4">Create Products</h4>
      <span class="text__default">Create a single product.</span>
    </div>

    <div class="form-central__content">

      <div class="form-central__form">
        <div class="form-parent">
          <div class="left">
            <lib-dynamic-form
              #createProductForm
              [fieldset]="form"
              [errors]="errors"
            ></lib-dynamic-form>
          </div>
          <div class="right">
            <app-image-upload
              [existingFileUrls]="[]"
              (uploadComplete)="createProduct($event)"
            ></app-image-upload>
          </div>
        </div>
      </div>

      <div class="form-central__content-actions">
        <button class="btn btn-white" routerLink="/products">Cancel</button>
        <button
          class="btn btn-primary"
          [disabled]="buttonDisabled === 'INVALID'"
          (click)="uploadComponent.uploadFiles()"
        >
          Create Product
        </button>
      </div>
    </div>
  </div>
</section>
