<div class="container">
  <img
    src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__green__confirmed__with__shadow.svg"
    alt=""
  />
  <h4 class="heading__4">Request sent successfully</h4>
  <p class="text__small text-gray">
    Congratulations! We are so delighted to have you here.
    We are currently processing a lot of requests at the moment however,
    we will get across to you via mail within 48 hrs.

    Thank you for your patience!
  </p>

  <button class="btn btn-primary btn__sm" (click)="routeAway()" >Get Started!</button>
</div>
