<section class="section-dashboard-donut-container">
  <div class="row no-margin-b">
    <div class="row-col__md-4" style="display: flex">
      <div class="pie-chart"></div>
    </div>
    <div class="row-col__md-4" style="display: flex">
      <div class="text-group">
        <div class="text-1 loading"></div>
        <div class="text-1 loading"></div>
      </div>
    </div>
    <div class="row-col__md-4" style="display: flex">
      <div class="text-group">
        <div class="text-1 loading"></div>
        <div class="text-1 loading"></div>
      </div>
    </div>
  </div>
</section>
