<section class="hero">
  <div class="hero__information">
    <div class="hero__article">
      <h1>
        Manage <b class="text-primary"></b> <br />
        better, with RexRetail.
      </h1>
      <p class="">
        A digital solution that helps you simplify your inventory management
        processes. Monitor inventory, find customer trends, and track payments
        all-in-one box.
      </p>
      <div class="hero__actions">
        <button class="btn btn-primary no-margin" routerLink="/onboarding">
          Get Started
          <img
            style="vertical-align: middle; margin-left: 10px"
            src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__white__arrow.svg"
            alt="arrow"
          />
        </button>
        <button class="btn no-margin trans">
          <img
            style="vertical-align: middle; margin-left: 10px"
            src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__black__video__play.svg"
            alt="play"
          />
          Quick Demo
        </button>
      </div>
    </div>
    <div class="hero__img-container">
      <div class="fit-container">
        <img
          class="main"
          src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/images/image__woman__red__glasses.webp"
          alt="woman__red__glasses"
        />
        <img
          src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/images/image__most__sold__product.png"
          alt="sub"
          class="sub"
        />
      </div>
    </div>
  </div>

  <div class="hero__arrow-down bounce">
    <img
      alt="arrow-down"
      class="arrow-down"
      src="https://assetslogos.s3-eu-west-1.amazonaws.com/frontendassets/icons/icon__arrow__down__red__lg.svg"
    />
  </div>
</section>
