.cards {
  flex-wrap: wrap;
  row-gap: 20px;

  a {
    margin: auto 0 0;
  }
}

ul li {
  list-style: none;
  &::before {
    content: "\2022";
    color: #c91c24;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 20px;
  }
}