<lib-loader></lib-loader>
<section class="section-center-create">
  <div class="form-central">
    <div class="form-central__headings">
      <h4 class="heading__4">Edit Corporate Entity</h4>
      <span class="text__default"
        >Provide details of the corporate account you wish to edit.</span
      >
    </div>

    <div class="form-central__content" *ngIf="displayForm === true">
      <div class="form-central__form">
        <div class="form-parent">
          <lib-dynamic-form
            #entityProfileForm
            [fieldset]="entityForm"
            [errors]="errors"
          ></lib-dynamic-form>
        </div>
      </div>

      <ng-container *ngFor="let field of uploadFields; let i = index">
        <lib-file-upload
          [uploadMetadata]="field"
          (onFileSelected)="uploadDocument($event, field)"
          (onDeleteFile)="onFileDeleted(i)"
          [showFileUrl]="true"
        ></lib-file-upload>
      </ng-container>

      <div class="form-central__content-actions">
        <button
          class="btn btn-primary"
          [disabled]="!entityProfileForm.form.valid"
          (click)="updateEntity()"
        >
          Save Changes
        </button>
      </div>
    </div>
  </div>
</section>
