<div class="subscription-options-container">
  <div class="subscription-options-heading">
    <img
      [routerLink]="'/'"
      src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/logos/logo__rexretail.svg"
      class="logo cursor-pointer"
    />
    <h2 class="heading__3 text-bold no-margin-b">
      Let’s
      <h4 class="heading__3 text-bold highlight no-margin-b">
        Get You Started
      </h4>
    </h2>
    <p class="text__default">
      We have simple and transparent subscription plans designed for all
      business sizes. <br />
      Kindly chose the right plan for your business
    </p>
  </div>

  <section class="subscription-options-scroller">
    <div class="subscription-options">
      <div
        class="subscription-options__option"
        (click)="selectedPlan = 'mobile'"
        [class.subscription-options__option--selected]="
          selectedPlan == 'mobile'
        "
      >
        <div class="mb-3">
          <h4 class="heading__4 no-margin-t mb-3">Mobile Plan</h4>
          <p class="subscription-options__option__text">
            This plan allow you get started on your phone. You can make cash
            sales from your store directly on your mobile phone.
          </p>
          <!-- <div class="subscription-options__price">
            <h3 class="heading__3">
              N1,000 <span class="text__small text-gray">per month</span>
            </h3>
          </div> -->
          <button
            class="subscription-options__btn btn btn-outline-primary"
            (click)="selectPlan('mobile')"
            [disabled]="!allowPlanSelect"
          >
            Get Started
          </button>
        </div>
        <div class="subscription-options__ability">
          <p class="text__small text-gray">
            <img
              src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__checkbox__red.svg"
              alt="check"
            />
            Access Via Mobile Phone
          </p>
          <p class="text__small text-gray">
            <img
              src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__checkbox__red.svg"
              alt="check"
            />
            Make Cash Sales
          </p>
          <p class="text__small text-gray">
            <img
              src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__checkbox__red.svg"
              alt="check"
            />
            Monitor Inventory
          </p>
          <p class="text__small text-gray">
            <img
              src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__checkbox__red.svg"
              alt="check"
            />
            More Plan Benefits
          </p>
        </div>
      </div>

      <div
        class="subscription-options__option"
        (click)="selectedPlan = 'lease'"
        [class.subscription-options__option--selected]="selectedPlan == 'lease'"
      >
        <div class="mb-3">
          <div class="flexed mb-3">
            <h4 class="heading__4 no-margin">Lease Plan</h4>
            <p class="badge no-margin">Popular Plan</p>
          </div>
          <p class="subscription-options__option__text">
            This plan offers you the flexibility to lease POS devices as well as
            access the RexRetail app and receive cash payments.
          </p>
          <!-- <div class="subscription-options__price">
            <h3 class="heading__3">
              N5,000 <span class="text__small text-gray">per month</span>
            </h3>
          </div> -->
          <button
            class="subscription-options__btn btn btn-primary"
            (click)="selectPlan('lease')"
            [disabled]="!allowPlanSelect"
          >
            Get Started
          </button>
        </div>
        <div class="subscription-options__ability">
          <p class="text__small text-gray">
            <img
              src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__checkbox__red.svg"
              alt="check"
            />
            Everything on Mobile Plan
          </p>
          <p class="text__small text-gray">
            <img
              src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__checkbox__red.svg"
              alt="check"
            />
            Lease POS Terminals
          </p>
          <p class="text__small text-gray">
            <img
              src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__checkbox__red.svg"
              alt="check"
            />
            Choose No. Of POS to own
          </p>
          <p class="text__small text-gray">
            <img
              src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__checkbox__red.svg"
              alt="check"
            />
            Receive Card Payments
          </p>
        </div>
      </div>

      <div
        class="subscription-options__option"
        (click)="selectedPlan = 'outright'"
        [class.subscription-options__option--selected]="
          selectedPlan == 'outright'
        "
      >
        <div class="mb-3">
          <h4 class="heading__4 no-margin-t mb-3">Outright Plan</h4>
          <p class="subscription-options__option__text">
            This plan allows you to make payments to own the POS device at a go,
            and access RexRetail with one subscription.
          </p>
          <!-- <div class="subscription-options__price">
            <h3 class="heading__3">
              N10,000 <span class="text__small text-gray">per month</span>
            </h3>
          </div> -->
          <button
            class="subscription-options__btn btn btn-outline-primary"
            (click)="selectPlan('outright')"
            [disabled]="!allowPlanSelect"
          >
            Get Started
          </button>
        </div>
        <div class="subscription-options__ability">
          <p class="text__small text-gray">
            <img
              src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__checkbox__red.svg"
              alt="check"
            />
            Everything on Lease Plan
          </p>
          <p class="text__small text-gray">
            <img
              src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__checkbox__red.svg"
              alt="check"
            />
            Own POS Terminal(s)
          </p>
          <p class="text__small text-gray">
            <img
              src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__checkbox__red.svg"
              alt="check"
            />
            Accept Cash & Card Payments
          </p>
          <p class="text__small text-gray">
            <img
              src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__checkbox__red.svg"
              alt="check"
            />
            More Plan Benefits
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
