<div class="total-container">
  <section class="features-analytics-container" id="about">
    <div class="feature feature-analytics">
      <div>
        <article>
          <img
            src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__green__card__with__bg.svg"
            alt="users"
            width="50px"
            height="50px"
          />
          <h3>Card & Cash Payments</h3>
          <p>
            We support and capture card & cash payments instantly to allow your
            customers flexibility. You can also print payment invoices or send
            E-receipts.
          </p>
        </article>
        <article>
          <img
            src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__green__stats.svg"
            alt="users"
          />
          <h3>Reports & Analysis</h3>
          <p>
            Intuitive reports on your business. Quickly view payment reports and
            sales analytics on the RexRetail terminal or on your mobile.
          </p>
        </article>
        <a class="feature__action" routerLink="/onboarding">
          Get Started
          <svg>
            <use xlink:href="assets/icons/sprite.svg#arrow"></use>
          </svg>
        </a>
      </div>
      <img
        data-src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/images/image__happy__stats.webp"
        alt="analytics"
        class="analytics-img lazyload"
      />
    </div>
  </section>
  <div
    class="empty"
    style="height: 90vh; width: 100px; background: transparent"
  ></div>
</div>
