<div class="content">
  <div class="billing">
    <h5 class="heading__5 no-margin-b">Select preferred billing cycle</h5>
    <p class="text__small text-gray no-margin-t">
      These are the available plans under the Lease Plan Category. Please select
      one that best suits your need.
    </p>
  </div>
  <div class="subscription-options">
    <label
      *ngFor="let sub of subPlans; let i = index"
      class="radio"
      (click)="selectedOption = i; planSelected.emit(sub)"
      [class.selected]="selectedOption == i.toString()"
    >
      <span class="radio__input">
        <input type="radio" name="radio" value="name" />
        <span class="radio__control"></span>
      </span>
      <span class="radio__label">
        <h4 class="option-title">
          {{ sub.name }} - NGN {{ sub.fee | number }}
        </h4>
        <div>
          <span class="option-about pr-1 mr-1 br-05">
            No of POS Devices: {{ sub.maxNumberOfPOSDevices }}
          </span>
          <span class="option-about pr-1 mr-1 br-05">
            No of Users: {{ sub.maxNumberOfUsers }}
          </span>
          <span class="option-about pr-1 mr-1 br-05">
            {{ sub.paymentCycle }} Terminal Payment: ₦{{
              (sub.maxNumberOfPOSDevices * posCost) / sub.totalCycles
                ? ((sub.maxNumberOfPOSDevices * posCost) / sub.totalCycles
                  | number)
                : (0 | number)
            }}
          </span>
          <span class="option-about">
            {{ sub.paymentCycle }} Total Payment: ₦{{
              (sub.maxNumberOfPOSDevices * posCost) /
                (sub.totalCycles ? sub.totalCycles : 1) +
                sub.fee | number
            }}
          </span>
        </div>
      </span>
    </label>
  </div>
</div>
