<section class="manage">
  <div class="manage__content">
    <h3>Manage your business wherever you are.</h3>
    <p>
      Designed to deliver the best experience and accessibility possible,
      RexRetail is also available for download on your mobile phone. You can
      download it on play store.
    </p>

    <a
      class="btn"
      href="https://play.google.com/store/apps/details?id=com.globalaccelerex.rexretail"
    >
      Google Play
      <img
        src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__black__play__store.svg"
        alt="play-store"
      />
    </a>
  </div>
  <div class="manage__img">
    <img
      data-src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/images/image__man__with__phone.webp"
      class="lazyload"
      alt="man_with_phone"
    />
  </div>
</section>
