<footer>
  <div class="content-container">
    <section class="logo-container">
      <img
        src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/logos/logo__rexretail.svg"
        alt="logo"
      />
      <p>
        RexRetail is a digital solution that helps you simplify your inventory
        management processes. Monitor inventory, find customer trends and track
        payments all-in-one box.
      </p>
    </section>
    <section>
      <h3>Company</h3>
      <ul>
        <li>
          <!-- <a [routerLink]="['/']" fragment="about">About Us</a> -->
          <a href="https://www.globalaccelerex.com/about">About Us</a>
        </li>
        <li>
          <a href="https://www.globalaccelerex.com/news">Blog</a>
        </li>
      </ul>
    </section>
    <section>
      <h3>Product</h3>
      <ul>
        <li>
          <a href="https://www.globalaccelerex.com/services">Our Services</a>
        </li>
        <li>
          <a href="https://www.globalaccelerex.com/solutions">Our Solutions</a>
        </li>
        <li>
          <a href="https://www.globalaccelerex.com/products">Our products</a>
        </li>
      </ul>
    </section>
    <section>
      <h3>Support</h3>
      <ul>
        <li>
          <a routerLink="/faqs"> FAQs</a>
        </li>
        <li>
          <a routerLink="/terms">Terms of Use</a>
        </li>
        <li>
          <a routerLink="/policy">Privacy Policy</a>
        </li>
      </ul>
    </section>
    <section>
      <h3>Contact Us</h3>
      <ul>
        <li>
          <a href="mailto:support@globalaccelerex.com">
            support@globalaccelerex.com
          </a>
        </li>
        <li>
          <a href="tel:+234700-222353739"> 0700-2223-53739 </a>
        </li>
        <li>
          12, Eric Moore Street, <br />
          Wemabod Estate, <br />
          Ikeja - Lagos, Nigeria.
        </li>
      </ul>
      <div class="social">
        <a href="https://www.facebook.com/accelerexhq" target="_blank"
          ><img
            src="https://assetslogos.s3-eu-west-1.amazonaws.com/frontendassets/icons/icon__facebook__black.svg"
            alt="facebook"
        /></a>
        <a href="https://www.twitter.com/accelerexhq" target="_blank"
          ><img
            src="https://assetslogos.s3-eu-west-1.amazonaws.com/frontendassets/icons/icon__twitter__black.svg"
            alt="twitter"
        /></a>
        <a href="https://www.instagram.com/accelerexhq/" target="_blank"
          ><img
            src="https://assetslogos.s3-eu-west-1.amazonaws.com/frontendassets/icons/icon__instagram__black.svg"
            alt="instagram"
        /></a>
      </div>
    </section>
  </div>

  <div class="copy-right">
    <span
      >&copy; Global Accelerex - {{ date | date: "y" }}. All Rights
      Reserved.</span
    >
  </div>
</footer>
