// .counter-container {
//   background-color: white;
//   border: 1px solid #dfdede;
//   border-radius: 8px;
//   padding: 35px 26px;
//   margin-bottom: 10px;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   gap: 1rem;

//   .counter {
//     // margin-left: 10px;
//     display: flex;

//     &__control,
//     &__value {
//       background-color: #f0f0f0;
//       border-radius: 2px;
//       padding: 5px 10px;
//       margin-right: 5px;
//       font-size: 22px;
//       font-weight: bolder;
//     }

//     &__value {
//       &::selection {
//         background-color: transparent;
//         color: inherit;
//       }
//     }

//     &__control {
//       color: #838383;
//       font-weight: bold;
//       color: rgba(19, 165, 0, 1);

//       &::selection {
//         background-color: transparent;
//         color: #838383;
//       }

//       &:hover {
//         cursor: pointer;
//       }

//       &:first-of-type {
//         color: rgba(142, 131, 88, 1);
//       }
//     }

//     &__text {
//       font-size: 0.9rem;
//       max-width: 260px;
//     }

//     &__price {
//       width: 4rem;
//       color: #1a1a1a;
//       font-size: 0.9rem;
//     }
//   }
// }



.content {
  height: 670px;
  overflow: auto;

  .subscription-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.form_button {
  padding: 3.5%;
  margin: 0;
}


.radio {
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #DFDEDE;
  display: flex;
  gap: 29px;
  align-items: baseline;

  padding: 22px;

  input[type='checkbox'], input[type='radio'] {
    &:checked, &:active {
      background-color: #ED1C25;
      border: 1px solid #ED1C25 !important;
      &:focus {
        border: 1px solid #ED1C25 !important;
        box-shadow: none;
      }
    }
    &:hover, &:focus {
      border: 1px solid #ED1C25 !important;
      box-shadow: none;
    }
  }

  &.selected {
    border: 1px solid #ED1C25;
    // background: hsla(357, 85%, 52%, 0.438);
  }
}