nav {
  z-index: 100;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  background: white;
}

.navbar-inverse {
  box-shadow: 0px 2px 8px 1px rgba(110, 109, 109, 0.19);
}
.header {
  padding: 20px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 125.32px;
    height: 61px;
    cursor: pointer;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 51px;
  }

  &__mobile-links {

    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #1a1a1a;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &.hidden {
      display: none;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    position: relative;

    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #1a1a1a;

    &::after {
      display: none;
      content: "";
      width: 100%;
      height: 2px;
      background: var(--color-primary);
      position: absolute;
      bottom: -3px;
      left: 0;
    }

    &:hover {
      color: var(--color-primary);

      &::after {
        display: block;
      }
    }
  }

  &__hamburger {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 20px;
    &__links {
      display: none;
    }

    &__hamburger {
      display: block;
    }
  }
}

a.btn:hover {
  background: darken(hsl(358, 86%, 52%), 8%)
}