<lib-loader></lib-loader>

<div class="auth-layout">
  <div class="col-7 d-md-block d-sm-none">
    <div class="auth-layout__left-container">
      <img class="auth-logo" src="assets/images/auth/logo-1.png"/>
      <div class="img-container">
        <img src="assets/images/auth/child-login.png"/>
        <img src="assets/images/auth/rectangle-login.png"/>
      </div>

      <h2>We Believe Every Child Has The Same Rights</h2>
      <p>We are a global membership organisation, made up of Save the Children International and 30 national members. We share one name, one strategy and one ambition for children.</p>
    </div>
  </div>

  <div class="col-5 col-sm-12">
    <router-outlet></router-outlet>
  </div>
</div>
