<div  class="cards-container">
    <div  class="container">
  
        <div class="top-section flexed mb-3">
            <div class="intro flex-1">
              <h3 class="heading__4 no-margin">Audit Logs</h3>
              <span class="text__default text-dashboard-gray sub-text">
                Here, you can monitor Activities within your networks.
              </span>
            </div>
          </div>
        
          <div class="">
            <ul class="tabs">
              <li class="tab-item" routerLinkActive="active" routerLink="/audits">Audit Log</li>
              <li class="tab-item" routerLinkActive="active" routerLink="/audits/activity-logs">
                Activity Log
              </li>
            </ul>
        

            <div class="horizontal-tab-wrapper">
              <router-outlet></router-outlet>
            </div>
          </div>
      
    </div>
  </div>