<div class="action-container">
  <div class="box-container">
    <img src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__yellow__party__cone.svg" alt="svg">
    <h4 class="heading__4">Welcome Onboard!</h4>
    <p class="text-gray no-margin">Get ready to start selling.</p>

    <div class="actions mt-5">
      <section class="action">
        <div class="action__head">
          <img src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__gray__check__round.svg" alt="check">
          <div>
            <h6 class="heading__6 no-margin">
              Add Your First Product
            </h6>
            <p class="text__sm text-gray no-margin mt-2">Some Nice Text Here</p>
          </div>
        </div>
        <button class="btn btn-outline-primary btn__sm no-margin">Add Product</button>
      </section>

      <section class="action">
        <div class="action__head">
          <img src="https://assetslogos.s3.eu-west-1.amazonaws.com/frontendassets/icons/icon__gray__check__round.svg" alt="check">
          <div>
            <h6 class="heading__6 no-margin">
              Setup your Shop
            </h6>
            <p class="text__sm text-gray no-margin mt-2">Some Nice Text Here</p>
          </div>
        </div>
        <button style="width: 138px;" class="btn btn__sm btn-outline-primary no-margin">Add Shop</button>
      </section>
    </div>
  </div>
</div>