<div class="login">
  <lib-loader></lib-loader>

  <h1>Set Pin</h1>

  <p class="sub-head text-gray">
    Kindly enter the one time code sent to {{name}} and proceed to
    setup your desired password
  </p>

  <div class="form-central__form">
    <lib-dynamic-form
      #setPinForm
      [fieldset]="setPinDetailsForm"
      [errors]="errors"
    ></lib-dynamic-form>
  </div>

  <button
    [disabled]="setPinForm.form.invalid"
    class="btn btn-primary btn__lg login__button"
    (click)="completeUserReg()"
  >
    Set New Password and Login
  </button>
</div>
